#menu{
    display: none;
}

.todo{
    z-index: 3;
    margin-top: -45vw;
    margin-left: -60vw;
    
    
    
}
.lista{
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 0.5s;
    width: 30vw;
    height: 0vw;
   

    
}

img{
    width: 5vw;
    position: relative;
    box-shadow: 1px 1px 1px 1px white;
    
    
    
}


#menu:checked ~ .lista{
    height: 30vw;
    width: 30vw;
   margin-top: 0vw;
   
  
}

.l{
    margin-top: 1vw;
    font-size: 2vw;
    text-decoration: none;
    color: orangered;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(img/carretera.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.caminante{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0vw;
    overflow: hidden;
    width: 30vw;
    height: 50vw;
    animation-name: desplazar;
    animation-duration: 10s;
    left: 80vw;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.hombre{
    position: relative;
    height: 500vw;
    width: 100vw;
    animation-name: h;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  

}
@keyframes desplazar{
    100% {left: -60vw;}
}

@keyframes h{
   0% {top: 0vw;}
    10% {top: 0vw;}
    10.00001% {top: -50vw;}
    20% {top: -50vw;}
    20.00001% {top: -100vw;}
    30% {top: -100vw;}
    30.00001%{top: -150vw;}
    40% {top: -150vw;}
    40.00001%{top: -200vw;}
    50%{top: -200vw;}
    50.00001% {top: -250vw;}
    60% {top: -250vw;}
    60.00001%{top: -300vw;}
    70% {top: -300vw;}
    70.00001%{top: -350vw;}
    80% {top: -350vw;}
    80.00001%{top: -400vw;}
    90% {top: -400vw;}
    90.00001%{top: -450vw;}
    100% {top: -450vw;}
}

